body
{
    padding: 0;
    margin: 0;
}

.titl
{
    padding-top: 0;
    margin-top: 1.5rem;
    font-size: 2.3em;
    font-family: sans-serif;
    position: relative;
    font-weight: normal;
    left: 8rem;
}

div#root
{
    padding: 0;
    margin: 0;
    padding-right: calc(24vw + 2em);
    position: relative;
}

.smol
{
    font-size: 0.45em;
}

.madeby
{
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.svgConns
{
    position: absolute;
}

.classBox
{
    width: 12em;
    height: 4.5em;
    font-family: sans-serif;
    text-align: center;
    border-radius: 12px;
    position: absolute;
}

.eecs
{
    border-style: solid;
    border-color: #c675ff;
    border-width: 2px;
    background-color: #e7c4ff;
}

.math
{
    border-style: solid;
    border-color: #23c4ff;
    border-width: 2px;
    background-color: #b2f2ff;
}

div#explain {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 24vw;
    height: 50vh;
    border: 2px solid #572900;
    background-color: #ffc694;

    font-family: sans-serif;
    overflow-y: scroll;
}

div#explain-topp {
    padding: 0.6em 0;
    font-size: 1.15em;
    text-align: center;
}
div#explain-desc {
    padding: 0.4em 1em;
}
div#explain-prereq-list-div {
    padding: 0.4em 1em;
}
div#explain-hint {
    position: absolute;
    text-align: center;
    font-size: 1.6em;
    top: 30%;
    width: 100%;
    color: #756659;
}
