body
{
    padding: 0;
    margin: 0;
}

.titl
{
    padding-top: 0;
    margin-top: 1.5rem;
    font-size: 2.3em;
    font-family: sans-serif;
    position: relative;
    font-weight: normal;
    left: 8rem;
}

div#root
{
    padding: 0;
    margin: 0;
    padding-right: calc(24vw + 2em);
    position: relative;
}

.smol
{
    font-size: 0.45em;
}

.madeby
{
    position: relative;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.svgConns
{
    position: absolute;
}

.classBox
{
    width: 12em;
    height: 4.5em;
    font-family: sans-serif;
    text-align: center;
    border-radius: 12px;
    position: absolute;
}

/* the two styles of color coding for the boxes */
/* by department */
div#root[colorcode="dept"] .eecs
{
    border-style: solid;
    border-color: #c675ff;
    border-width: 2px;
    background-color: #e7c4ff;
}
div#root[colorcode="dept"] .math
{
    border-style: solid;
    border-color: #23c4ff;
    border-width: 2px;
    background-color: #b2f2ff;
}
/* by level */
div#root[colorcode="level"] .yl-1
{
    border-style: solid;
    border-color: #b5b54e;
    border-width: 2px;
    background-color: #ffffb5;
}
div#root[colorcode="level"] .yl-2
{
    border-style: solid;
    border-color: #4ca300;
    border-width: 2px;
    background-color: #caff9c;
}
div#root[colorcode="level"] .yl-3
{
    border-style: solid;
    border-color: #3f7096;
    border-width: 2px;
    background-color: #c2e4ff;
}
div#root[colorcode="level"] .yl-4
{
    border-style: solid;
    border-color: #6955a1;
    border-width: 2px;
    background-color: #d0bfff;
}

/* the explaination (description) section */
div#explain {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 24vw;
    height: 50vh;
    border: 2px solid #572900;
    background-color: #ffc694;

    font-family: sans-serif;
    overflow-y: scroll;
}

div#explain-topp {
    padding: 0.6em 0;
    font-size: 1.15em;
    text-align: center;
}
div#explain-desc {
    padding: 0.4em 1em;
}
div#explain-prereq-list-div {
    padding: 0.4em 1em;
}
div#explain-hint {
    position: absolute;
    text-align: center;
    font-size: 1.6em;
    top: 30%;
    width: 100%;
    color: #756659;
}

/* the top right settings section */ 
div#settings-bar {
    position: fixed;
    right: 0;
    top: 0;
    text-align: right;
    padding: 1em;
}

button#switch-color-code {
    border: 2px solid black;
    border-radius: 6px;
    
    font-size: 1.3em;
    background-color: white;
    color: black;
}
button#switch-color-code:hover {
    background-color: black;
    color: white;
}
button#switch-color-code:active {
    background-color: #555;
    border-color: #555;
}
